* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin-top: 100px;
}
.header-reward {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.exchange {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}
.present {
  align-self: center;
  border: 2px dashed hsl(86, 74%, 60%);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  padding: 10px 0;
  text-align: center;
}
.present-container {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  height: 330px;
  justify-content: center;
  text-align: center;
  padding: 10px 0px;
}
.img {
  height: 150px;
  max-width: 150px;
  align-self: center;
  object-fit: contain;
}
.name {
  color: var(--primary, #ade34d);
  font-size: 21px;
  font-weight: 700;
}
.title {
  color: #2e3a59;
  background-color: #edf1f7;
  border-radius: 100px;
  padding: 4px 15px;
  border: 1px solid #edf1f7;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin-top: 15px;
}
.button {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 100px;
  background: var(
    --brand-gradient,
    linear-gradient(90deg, #46f04e 0%, #ade34d 100%)
  );
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  width: 140px;
  height: 30px;
  color: #ffe7a2;
  align-self: center;
  cursor: pointer;
}
